html {
    scroll-behavior: smooth;
}

<<<<<<< HEAD
/* body {
=======
.landing-body {
>>>>>>> e2915ac566ad4aab38f2d08dcd7df1715fd1bc70
    background-color: #000;
    color: #fff;
} */


.gradiant-text {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
    text-wrap: nowrap;
    display: inline-block;
    width: max-content;
    width: 0;
}

@keyframes typing-text {
    from {
        width: 0%;
    } 
    to {
        width: 350px;
    }
}

@keyframes typing-text {
    to {
        border-color: transparent;
    }
}

